.roadline {
    width: 1vh;
    background-color: orange;
    height: inherit;
    margin: auto;
}

.mark {
    width: 2vh;
    position: absolute;
    background-color: gray;
    z-index: 0;
}

.movable {
    position: absolute;
    
}

.enemy_car {
    width: 10vh;
    height: auto;
    position: absolute;
    z-index: 1;
}

.enemy_car img{
    width: 10vh;
    height: auto;
}