.roadline {
    width: 1vh;
    background-color: orange;
    height: inherit;
    margin: auto;
}

.mark {
    width: 2vh;
    position: absolute;
    background-color: gray;
    z-index: 1;
}

.movable {
    position: absolute;
    background-color: red;
    width: 10px;
}

.enemy_car {
    width: 10px;
    background-color: black;
    position: absolute;
}