.header{
    /*background-image: url("../imgs/raceFlag.png");
    background-repeat: no-repeat;
    background-size: cover;*/
    background-color: white;
    height: 10vh;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    z-index: 2;
}

.gaming_space {
    background-color: #a3cd3f;
    height: 90vh;
    border-top: #000 1px solid;
    position: relative;
}

.asphalt {
    background-color: gray;
    border-right: #000 3px solid;
    border-left: #000 3px solid;
    margin: auto;
    height: 100%;
    width: 30%;
}

.score {
    color: gold;
    font-size: 100px;
    z-index: 10;
}